.copyright {
  background-color: #1313;
}

.fixed {
  -ms-flex: 0 0 250px;
  flex: 0 0 250px;
}

.content-grey {
  background-color: #F7539C;
}

hr {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.img-profile {
  height: 2rem;
  width: 2rem;
}

.profile-font {
  color: #1313 !important;
  font-size: 80%;
  font-weight: 400;
}

.card-header {
  background-color: #ffff;
  border-bottom: 1px solid #1313;
}
